<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세페이지</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<script>
    $(document).ready(function () {
        // HTML 문서를 로드할 때마다 실행합니다.
        detailboard();
        showcomment();
    })

    function getURLParams(url) {
        var result = {};
        url.replace(/[?&]{1}([^=&#]+)=([^&#]*)/g, function (s, k, v) {
            result[k] = decodeURIComponent(v);
        });
        return result;
    }

    function detailboard() {
        const id = getURLParams(window.location.href)['id'];
        $.ajax({
            type: 'GET',
            url: `/api/boards/${id}`,
            success: function (response) {
                let board = response;
                addHTML(board.id, board.username, board.contents, board.username);
            }
        })
    }

    function addHTML(id, title, contents, username) {
        let temphtml = `<div>
                            <p onclick="detailboard()">제목 : ${title}</p>
                            <hr>
                            <p> 내용 : ${contents}</p>
                            <hr>
                            <p> 작성자 : ${username}</p>
                        </div>`
        $('#wrap').append(temphtml);
    }


    //댓글 보이기
    function showcomment() {
        const id = getURLParams(window.location.href)['id'];
        // 1. 기존 메모 내용을 지웁니다.
        $('#comment_wrap').empty();
        // $('#1board').empty();
        // 2. 메모 목록을 불러와서 HTML로 붙입니다.
        $.ajax({
            type: 'GET',
            url: `/api/comments/${id}`, //변수가 변하는 값이면 백틱을 쓴다.
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    let total = response[i];
                    let id = total.id;
                    let comment = total.comment;
                    let modifiedAt = total.modifiedAt;
                    // console.log(id, comment, modifiedAt);
                    let temp_html = `<div id="please">
                            <div>
                                <tr>
                                    <th>${id}</th>
                                    <th>${comment}</th>
                                    <th>${modifiedAt}</th>
                                    <th><button onclick="deletecomment('${id}')">삭제</button></th>
                                </tr>
                            </div>
                        </div> `;
                    $('#please').append(temp_html);
                }
            }
        })
    }

    //댓글 작성
    function writecomment() {
        const id = getURLParams(window.location.href)['id'];

        let comment = $('#comment').val();

        let data = {'comment': comment, 'commentid': id};

        $.ajax({
            type: "POST",
            url: "/api/comments",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('작성 완료');
                window.location.reload();
            }
        });
    }

    //댓글 수정
    function updatecomment(id){
        
    }


    //댓글 삭제
    function deletecomment(id) {
        $.ajax({
            type: "DELETE",
            url: `/api/comments/${id}`,
            success: function (response) {
                alert('메시지 삭제에 성공하였습니다.');
                window.location.reload();
            }
        })
    }


</script>

<body>
<div id="wrap">
</div>
<thead>
<tr>
    <th scope="col">작성자</th>
    <th scope="col">댓글 내용</th>
    <th scope="col">작성 시간</th>
</tr>
<div id="please">
    <div>
        <tr>
            <th>용만</th>
            <th>스프링은 봄?</th>
            <th>23:00</th>
            <th><button>삭제</button></th>
        </tr>
    </div>
</div>
<p>
    <input id="comment" type="text" placeholder="댓글을 입력해주세요.">
    <button onclick="writecomment()">남기기</button>
</p>

</thead>
<tbody id="reviews-box">
<tr>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tbody>
<p>
    <button type="button" class="btn btn-info" onclick="location.href='/'">목록</button>
</p>
</body>
</html>